.ant-card.normal-background {
    background-color: #228B22;
}

.ant-card.warning-background {
    background-color: #FFD700;
}

.ant-card.danger-background {
    background-color: #FF4500;
}

.ant-card.empty-background {
    background-color: darkslategray;
}
