.ant-layout-header.header-wrapper {
    color: white;
    background-color: #333333;
}

.ant-layout-footer.footer-wrapper {
    background: #333333;
    text-align: center;
    color: white;
}

.ant-layout-content.content-wrapper {
    height: calc(100vh - 134px);
}

.ant-layout-sider.left-side-wrapper {
    background: #333333;
    max-width: 250px !important;
    min-width: 250px !important;
    width: 250px !important;
}
